<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>User</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
      <video id=example-video width=960 height=540 class="video-js vjs-default-skin" controls>
  <source
     src= "<%= movie.url %>"
     type="application/x-mpegURL">
</video>

        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
<script>

  var player = videojs('example-video');
  player.play();
</script>
